<!-- src/pages/HomePage.html -->
<div class="onw-news-layout">
  <div class="onw-news-content">
    <h2 class="onw-title">World Scientists Look Elsewhere...</h2>
    <p class="onw-description">With the Trump administration withdrawing...</p>
    <p class="onw-read-time">4 MIN READ</p>

    <div class="onw-news-image-section">
      <img class="onw-image" src="../assets/images/1.png" alt="Scientists Working" />
      <p class="onw-credit">From One New World</p>
    </div>

    <h2 class="more-blog-title">World Scientists Look Elsewhere...</h2>
    <p class="more-blog-description">With the Trump administration...</p>
    <h2 class="more-bottom-title">World Scientists Look Elsewhere...</h2>
  </div>
</div>