<!-- src/components/Header.html -->
<header>
  <div class="header">
    <a href="menu.html" class="header_menu-i"><i class="fas fa-bars"></i></a>
    <h1 class="header_title">One New World</h1>
    <a href="#" class="header_right-i"><i class="fas fa-user"></i></a>
  </div>

  <div class="header_premium-box">
    <div class="header_date">Saturday, May 31, 2025</div>
    <button class="header_subscribe-button">Subscribe for $0.25/week</button>
  </div>

  <div class="header_live-bar">
    <span class="header_live">LIVE</span>
    <span class="header_headline">Trump Administration</span>
    <span class="header_time">2h ago</span>
  </div>
</header>